# Node.js dependencies
node_modules/
pnpm-lock.yaml
yarn.lock

# Build & output directories
.svelte-kit/
build/
dist/
.svelte/

# Vite caches
.vite/
.vitepress/dist/

# Logs & Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Environment variables
.env
.env.local
.env.*.local

# Editor files (VS Code, JetBrains, etc.)
.vscode/
.idea/
*.swp
*.swo

# MacOS & System files
.DS_Store
Thumbs.db
/src/data/metrics.json
/src/data/user.json
